
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235 18% 26%);
    --Grey: hsl(231, 7%, 60%);
   --White: hsl(0, 0%, 100%);
   --Tomato: hsl(4, 100%, 67%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--DarkSlateGrey);
    height: 100vh;

}
.newslater-card{
    display: flex;
    justify-content: space-between;
    width: 700px;
    background: var(--White);
    border-radius: 20px;
    box-shadow: 0 5px 10px 15px hsl(235 18% 26%) ;
}
.card-details{
    width: 50%;
    padding: 50px 30px;
    margin-top: 30px;
}
.card-details h1{
    font-size: 2.4em;
    letter-spacing: 0px;
    margin: 0 0 0 7px;
    font-weight: 700;
    color: var(--CharcoalGrey);
}
.card-details p{
    font-size: 13px;
    font-weight: 500;
    color: var(--Grey);
    margin-top: 20px;
    padding: 0 3px;
    margin-left: 2px;
}
.list-box{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.icon-list{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 3px;
   
}
.icon{
    width: 15px;
    height: 15px;
    background: url(assets/images/icon-list.svg);
    background-size: cover;
    background-repeat: no-repeat;

}
.icon-list h5{
    color: var(--Grey);
}
.card-image{
    width: 50%;
    padding: 15px;
}
.card-image .dekstop-img{
    width: 320px;
    height: 475px;
    object-fit: cover;
}
.card-image .mobile-img{
    display: none;
}
.input-box h5{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.6em;
    font-weight: 700;
    color: var(--DarkSlateGrey);

}
.input-box input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border:  1px solid var(--Grey);
    border-radius: 5px;
}
.input-box input::placeholder{
    color: var(--Grey);
    padding: 5px;
    font-size: 0.8em;
}
.input-box a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 12px 53px;
    font-size: 0.8em;
    font-weight: 500;
    background: var(--CharcoalGrey);
    margin-top: 20px;
    border-radius: 5px;
    color: var(--White);
}
.input-box a:hover{
    box-shadow:  0px 2px 5px  #683d56;
    background: linear-gradient( #99326e,var(--Tomato));
}
 @media (max-width:480px){
    body{
        height: auto;
    }
    .newslater-card{
        flex-direction: column-reverse;
        height: 100vh;
    }
    .card-image{
        width: 100%;
        padding: 0;
       
    }
 .card-image .dekstop-img{
     display: none;
  
    }
    .card-image .mobile-img{
        display: block;
        width: 100%;
    }
    .card-details{
        width: 100%;
        padding: 10px;
        margin-bottom: auto;
    }
    .card-details h1{
        font-size: 3em;
        margin: 0;
     
    }
    .card-details p{
     font-size: 1.2em;
      margin:13px 57px 0px 0px;
    }
    .list-box{
        padding: 10px;
    }
    .icon-list{
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .icon{
        width: 20px;
        height: 20px;
    }
    .icon-list h5{
        font-size: 1em;
    }
    .input-box h5{
        font-size: 1em;
        margin-bottom: 15px;
        padding: 10px;
    }
    .input-box input{
        padding: 20px;
    }
    .input-box input::placeholder{
        font-size: 1em;
    }
    .input-box a{
        padding: 25px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 1em;
  
}
 }
/* ok */